<!--
 @author  Qianbw
 @create 2020-03-19 18:55
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../static/lib/layui/css/layui.css}">
    <script th:src="@{../static/lib/layui/layui.js}"></script>
    <link rel="stylesheet" th:href="@{../static/lib/codemirror/lib/codemirror.css}"/>
    <!--引入css文件，用以支持主题-->
    <link rel="stylesheet" th:href="@{../static/lib/codemirror/theme/dracula.css}"/>
    <script th:src="@{../static/lib/codemirror/lib/codemirror.js}"></script>
    <script th:src="@{../static/lib/codemirror/mode/clike/clike.js}"></script>
    <!--支持代码折叠-->
    <link rel="stylesheet" th:href="@{../static/lib/codemirror/addon/fold/foldgutter.css}"/>
    <script th:src="@{../static/lib/codemirror/addon/fold/foldcode.js}"></script>
    <script th:src="@{../static/lib/codemirror/addon/fold/foldgutter.js}"></script>
    <script th:src="@{../static/lib/codemirror/addon/fold/brace-fold.js}"></script>
    <script th:src="@{../static/lib/codemirror/addon/fold/comment-fold.js}"></script>
    <!--自动补全提示框-->
    <script  th:src="@{../static/lib/codemirror/addon/hint/show-hint.js}"></script>
    <link rel="stylesheet"  th:href="@{../static/lib/codemirror/addon/hint/show-hint.css}">
    <!--左右括号颜色高亮-->
    <script  th:src="@{../static/lib/codemirror/addon/edit/matchbrackets.js}"></script>
</head>
<body>
<blockquote class="layui-elem-quote layui-quote-nm">
    <span id="questionNumber" th:text="${questionModel.questionNumber}"></span>.
    <span th:text="${questionModel.title}"></span><br>
    <span th:text="${questionModel.description}"></span><br>
</blockquote>
<input type="hidden" id="questionid" th:value="${questionModel.questionid}" />
<input type="hidden" id="questiontype" th:value="${questionModel.questiontype}" />
<input type="hidden" id="courseid" th:value="${courseid}" />
<input type="hidden" id="homeworkid" th:value="${hlbm.homeworkid}" />
<input type="hidden" id="langauge" value="3" />
<input type="hidden" id="count" th:value="${count}" />
<!-- begin code -->
<textarea class="form-control" id="code" name="code">
public class Solution {

}
</textarea>
<!-- end code-->
<button type="button" class="layui-btn" onclick="run()">保存并运行</button>
<button type="button" th:classappend="${questionModel.questionNumber == 1 ? 'layui-btn-disabled' : '' }" class="layui-btn" th:onclick="'javascript:next(\''+${questionModel.questionNumber - 1}+'\')'">上一题</button>
<button type="button" th:classappend="${(questionModel.questionNumber+'') == count ? 'layui-btn-disabled' : '' }" class="layui-btn" th:onclick="'javascript:next(\''+${questionModel.questionNumber + 1}+'\')'">下一题</button>
</body>
<script>
    var $;
    var laydate;
    var layer;
    var form;
    var table;
    var layedit;
    layui.use([ 'layer', 'form', 'laydate', 'jquery', 'table', 'layedit' ],
        function() {
            layer = layui.layer;
            form = layui.form;
            laydate = layui.laydate;
            $ = layui.jquery;
            table = layui.table;
            layedit = layui.layedit;

        });

    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "text/x-java", //实现Java代码高亮
        lineNumbers: true,	//显示行号
        theme: "dracula",	//设置主题
        lineWrapping: true,	//代码折叠
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        matchBrackets: true,	//括号匹配
        extraKeys:{"Ctrl-Space":"autocomplete"}//ctrl-space唤起智能提示
        //readOnly: true,        //只读
    });

    function run() {
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/student/judgeQuestion',
            data: {
                answers : editor.getValue(),
                questionid : $("#questionid").val(),
                questiontype : $("#questiontype").val(),
                courseid : $("#courseid").val(),
                homeworkid : $("#homeworkid").val(),
                langauge : $("#langauge").val()
            },
            success: function(data){
                if(data.success){

                } else {

                }
            },
            error: function(){

            }
        });
    }

    function next(questionNumber){
        window.location.href = '/studentCourse/toDoQuestion?homeworkid='
            +$("#homeworkid").val()+
            '&questionnumber='+questionNumber+
            '&courseid='+$("#courseid").val()+
            '&count='+$("#count").val();
    }
</script>
</html>