<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustc.sse.sseoj.dao.singleModel.teacher.homeworkModelMapper">
  <resultMap id="BaseResultMap" type="com.ustc.sse.sseoj.model.teacher.homeworkModel">
    <id column="homeworkID" jdbcType="VARCHAR" property="homeworkid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    homeworkID, name, describes, createTime, beginTime, endTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from homework
    where homeworkID = #{homeworkid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from homework
    where homeworkID = #{homeworkid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustc.sse.sseoj.model.teacher.homeworkModel">
    insert into homework (homeworkID, name, describes, 
      createTime, beginTime, endTime
      )
    values (#{homeworkid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustc.sse.sseoj.model.teacher.homeworkModel">
    insert into homework
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="homeworkid != null">
        homeworkID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="homeworkid != null">
        #{homeworkid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustc.sse.sseoj.model.teacher.homeworkModel">
    update homework
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        describes = #{describes,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where homeworkID = #{homeworkid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustc.sse.sseoj.model.teacher.homeworkModel">
    update homework
    set name = #{name,jdbcType=VARCHAR},
      describes = #{describes,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP}
    where homeworkID = #{homeworkid,jdbcType=VARCHAR}
  </update>
</mapper>