<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author 邱乃光 -->
<mapper namespace="com.ustc.sse.sseoj.dao.singleModel.teacher.teacher_homeworkModelMapper">
  <resultMap id="BaseResultMap" type="com.ustc.sse.sseoj.model.teacher.teacher_homeworkModelKey">
    <id column="tno" jdbcType="VARCHAR" property="tno" />
    <id column="homeworkID" jdbcType="VARCHAR" property="homeworkid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ustc.sse.sseoj.model.teacher.teacher_homeworkModelKey">
    delete from teacher_homework
    where tno = #{tno,jdbcType=VARCHAR}
      and homeworkID = #{homeworkid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustc.sse.sseoj.model.teacher.teacher_homeworkModelKey">
    insert into teacher_homework (tno, homeworkID)
    values (#{tno,jdbcType=VARCHAR}, #{homeworkid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ustc.sse.sseoj.model.teacher.teacher_homeworkModelKey">
    insert into teacher_homework
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        tno,
      </if>
      <if test="homeworkid != null">
        homeworkID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tno != null">
        #{tno,jdbcType=VARCHAR},
      </if>
      <if test="homeworkid != null">
        #{homeworkid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>