<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author 邱乃光 -->
<mapper namespace="com.ustc.sse.sseoj.dao.singleModel.admin_infoModelMapper">
  <resultMap id="BaseResultMap" type="com.ustc.sse.sseoj.model.user.admin_infoModel">
    <id column="no" jdbcType="VARCHAR" property="no" />
    <result column="aage" jdbcType="VARCHAR" property="aage" />
    <result column="asex" jdbcType="CHAR" property="asex" />
    <result column="aphone_number" jdbcType="VARCHAR" property="aphoneNumber" />
    <result column="aemail" jdbcType="VARCHAR" property="aemail" />
    <result column="adept" jdbcType="VARCHAR" property="adept" />
  </resultMap>
  <sql id="Base_Column_List">
    no, aage, asex, aphone_number, aemail, adept
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_info
    where no = #{no,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin_info
    where no = #{no,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustc.sse.sseoj.model.user.admin_infoModel">
    insert into admin_info (no, aage, asex, 
      aphone_number, aemail, adept
      )
    values (#{no,jdbcType=VARCHAR}, #{aage,jdbcType=VARCHAR}, #{asex,jdbcType=CHAR}, 
      #{aphoneNumber,jdbcType=VARCHAR}, #{aemail,jdbcType=VARCHAR}, #{adept,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustc.sse.sseoj.model.user.admin_infoModel">
    insert into admin_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="no != null">
        no,
      </if>
      <if test="aage != null">
        aage,
      </if>
      <if test="asex != null">
        asex,
      </if>
      <if test="aphoneNumber != null">
        aphone_number,
      </if>
      <if test="aemail != null">
        aemail,
      </if>
      <if test="adept != null">
        adept,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="aage != null">
        #{aage,jdbcType=VARCHAR},
      </if>
      <if test="asex != null">
        #{asex,jdbcType=CHAR},
      </if>
      <if test="aphoneNumber != null">
        #{aphoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="aemail != null">
        #{aemail,jdbcType=VARCHAR},
      </if>
      <if test="adept != null">
        #{adept,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustc.sse.sseoj.model.user.admin_infoModel">
    update admin_info
    <set>
      <if test="aage != null">
        aage = #{aage,jdbcType=VARCHAR},
      </if>
      <if test="asex != null">
        asex = #{asex,jdbcType=CHAR},
      </if>
      <if test="aphoneNumber != null">
        aphone_number = #{aphoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="aemail != null">
        aemail = #{aemail,jdbcType=VARCHAR},
      </if>
      <if test="adept != null">
        adept = #{adept,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustc.sse.sseoj.model.user.admin_infoModel">
    update admin_info
    set aage = #{aage,jdbcType=VARCHAR},
      asex = #{asex,jdbcType=CHAR},
      aphone_number = #{aphoneNumber,jdbcType=VARCHAR},
      aemail = #{aemail,jdbcType=VARCHAR},
      adept = #{adept,jdbcType=VARCHAR}
    where no = #{no,jdbcType=VARCHAR}
  </update>
</mapper>