<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author 邱乃光 -->
<mapper namespace="com.ustc.sse.sseoj.dao.singleModel.answer_caseModelMapper">
  <resultMap id="BaseResultMap" type="com.ustc.sse.sseoj.model.warehouse.answer_caseModel">
    <id column="answercaseID" jdbcType="VARCHAR" property="answercaseid" />
    <result column="case_input" jdbcType="VARCHAR" property="caseInput" />
    <result column="case_output" jdbcType="VARCHAR" property="caseOutput" />
  </resultMap>
  <sql id="Base_Column_List">
    answercaseID, case_input, case_output
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from answer_case
    where answercaseID = #{answercaseid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from answer_case
    where answercaseID = #{answercaseid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustc.sse.sseoj.model.warehouse.answer_caseModel">
    insert into answer_case (answercaseID, case_input, case_output
      )
    values (#{answercaseid,jdbcType=VARCHAR}, #{caseInput,jdbcType=VARCHAR}, #{caseOutput,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustc.sse.sseoj.model.warehouse.answer_caseModel">
    insert into answer_case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="answercaseid != null">
        answercaseID,
      </if>
      <if test="caseInput != null">
        case_input,
      </if>
      <if test="caseOutput != null">
        case_output,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="answercaseid != null">
        #{answercaseid,jdbcType=VARCHAR},
      </if>
      <if test="caseInput != null">
        #{caseInput,jdbcType=VARCHAR},
      </if>
      <if test="caseOutput != null">
        #{caseOutput,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustc.sse.sseoj.model.warehouse.answer_caseModel">
    update answer_case
    <set>
      <if test="caseInput != null">
        case_input = #{caseInput,jdbcType=VARCHAR},
      </if>
      <if test="caseOutput != null">
        case_output = #{caseOutput,jdbcType=VARCHAR},
      </if>
    </set>
    where answercaseID = #{answercaseid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustc.sse.sseoj.model.warehouse.answer_caseModel">
    update answer_case
    set case_input = #{caseInput,jdbcType=VARCHAR},
      case_output = #{caseOutput,jdbcType=VARCHAR}
    where answercaseID = #{answercaseid,jdbcType=VARCHAR}
  </update>
</mapper>