<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- @author 邱乃光 -->
<mapper namespace="com.ustc.sse.sseoj.dao.singleModel.question_answer_caseModelMapper">
  <resultMap id="BaseResultMap" type="com.ustc.sse.sseoj.model.warehouse.question_answer_caseModelKey">
    <id column="questionID" jdbcType="VARCHAR" property="questionid" />
    <id column="answercaseID" jdbcType="VARCHAR" property="answercaseid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.ustc.sse.sseoj.model.warehouse.question_answer_caseModelKey">
    delete from question_answer_case
    where questionID = #{questionid,jdbcType=VARCHAR}
      and answercaseID = #{answercaseid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustc.sse.sseoj.model.warehouse.question_answer_caseModelKey">
    insert into question_answer_case (questionID, answercaseID)
    values (#{questionid,jdbcType=VARCHAR}, #{answercaseid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ustc.sse.sseoj.model.warehouse.question_answer_caseModelKey">
    insert into question_answer_case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        questionID,
      </if>
      <if test="answercaseid != null">
        answercaseID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        #{questionid,jdbcType=VARCHAR},
      </if>
      <if test="answercaseid != null">
        #{answercaseid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>