<!--
 @author  Qianbw
 @create 2020-02-18 12:37
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>新增</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        .layui-input-block {
            margin-right:30px;
        }
    </style>
</head>
<body>
<div style=" margin-top: 30px;">
    <form name="" class="layui-form" action="" method="post">
        <input type="hidden" th:value="${questionid}" id="questionid" name="questionid" />
        <input type="hidden" value="cases" id="answerType" name="answerType" />
        <div class="layui-form-item" style="margin-bottom:30px;">
            <label class="layui-form-label">Input</label>
            <div class="layui-input-block">
                <textarea  id="Input" name="Input" placeholder="请输入Input" required lay-verify="Input"  class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text" style="margin-bottom:30px;">
            <label class="layui-form-label">Output</label>
            <div class="layui-input-block">
                <textarea  id="Output" name="Output" placeholder="请输入Output" required lay-verify="Output"  class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-input-block">
                <button style="width:170px;" class="layui-btn" lay-submit type="button"  lay-filter="form">提交</button>
            </div>
        </div>
    </form>
</div>
<!-- js引入 -->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/wangeditor/wangEditor.js"></script>
<script type="text/javascript">
    var $;
    var laydate;
    var layer;
    var form;
    var table;
    var layedit;
    layui.use([ 'layer', 'form', 'laydate', 'jquery', 'table', 'layedit' ],
        function() {
            layer = layui.layer;
            form = layui.form;
            laydate = layui.laydate;
            $ = layui.jquery;
            table = layui.table;
            layedit = layui.layedit;
            Valid();
            eventinit();
        });

    function Valid(){
        form.verify({
            Input: function(value) {
                if(value.length < 1) {
                    return '请输入Input';
                }
            },
            Output: function(value) {
                if(value.length < 1) {
                    return '请输入Output';
                }
            }
        });
    }

    function eventinit(){
        form.on('submit(form)', function(data){
            var index = layer.load();//load动画
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/teacher/course/question/addAnswerOrCase',
                data: data.field,
                success: function(data){
                    if(data.success){
                        layer.close(index);
                        layer.msg('新增成功',{icon: 1});
                        setTimeout(function(){
                            parent.layer.closeAll();
                        }, 500);
                        parent.queryCase();
                    } else {
                        layer.close(index);
                        layer.msg("新增失败！code:"+data.code+",msg:"+data.msg,{icon: 2});
                    }
                },
                error: function(){
                    layer.close(index);
                    layer.msg("新增失败！", {icon: 2});
                }
            });
        });
    }

</script>
</body>
</html>