<!--
 @author  Qianbw
 @create 2020-02-18 15:35
-->
<!--
 @author  Qianbw
 @create 2020-02-15 14:41
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>题库管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<!-- 查询div -->
<div class=" " style="margin-top: 20px;margin-left: 50px">
    <div class="layui-row" style="margin-top: 20px;">
        <form action="" id="queryForm" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">题目名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" id="title" placeholder="请输入题目名称" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-input-inline" style="float: right;">
                    <button id="searchBtn" class="layui-btn layui-btn-normal" type="button" onclick="queryCourse()"><i class="layui-icon">&#xe615;</i>查询</button>
                    <button type="button" class="layui-btn" onclick="queryReset()"><i class="layui-icon">&#x1002;</i>重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 按钮栏 -->
<div class="" id="toolbar" style="padding:0px 10px">
    <a><button type="button" onclick="addNew()" title="新建题目"id="addNew"  class="layui-btn layui-btn-primary layui-btn-small" ><i class="layui-icon">&#xe654;</i>新建题目</button></a>
</div>

<!-- 表格栏 -->
<div style="padding:0px 10px">
    <table id="table" lay-filter="demo"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="toCaseAnswer">CaseAnswer</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="showDetail">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>

<!-- js引入 -->
<script src="/static/layui/layui.js"></script>
<script>
    var $;
    var laydate;
    var layer;
    var form;
    var table;
    var layedit;
    layui.use([ 'layer', 'form', 'laydate', 'jquery', 'table', 'layedit' ],
        function() {
            layer = layui.layer;
            form = layui.form;
            laydate = layui.laydate;
            $ = layui.jquery;
            table = layui.table;
            layedit = layui.layedit;
            query();
            optionTool();//监听工具条


        });

    function query() {
        // 执行渲染
        table.render({
            elem : '#table', // 指定原始表格元素选择器（推荐id选择器）
            url : '/teacher/course/question/searchQuestion' ,
            id : 'questionid', // 设定容器唯一ID
            page : true, // 是否开启分页
            loading : true, // 是否显示加载条
            height : 550, // 容器高度,
            page: 1,
            limit: 10,
            method: 'post',
            //,where: {token: 'sasasas', id: 123} //如果无需传递额外参数，可不加该参数
            //,method: 'post' //如果无需自定义HTTP类型，可不加该参数
            //,request: {} //如果无需自定义请求参数，可不加该参数
            //,response: {} //如果无需自定义数据响应名称，可不加该参数
            where: {
                'title': $('#title').val(),
                page: this.page,
                limit: this.limit,
                // sort: this.sort,
            },
            cols : [ [ // 标题栏
                {
                    field : 'questionid',
                    title : '题目ID',
                    sort : false,
                    align : 'center',
                    width: '150'
                } // rowspan即纵向跨越的单元格数
                , {
                    field : 'title',
                    title : '题目名称',
                    align : 'center',
                    sort : true,
                    width: '150'
                }, {
                    field : 'description',
                    title : '题目描述',
                    align : 'center',
                    minWidth: '300'
                }, {
                    field : 'questiontype',
                    title : '题目类型',
                    align : 'center',
                    width: '200'
                }, {
                    fixed : 'right',
                    title :'操作',
                    toolbar : '#barDemo',
                    align : 'center',
                    width : '150'
                }
                // colspan即横跨的单元格数，这种情况下不用设置field和width
            ]], // 设置表头
            done : function(res, curr, count) {
                console.log(res);
                // 得到当前页码
                console.log(curr);
                // 得到数据总量
                console.log(count);
            }
        });

    };

    function optionTool() {
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){//编辑题目
                var index = layer.open({
                    type: 2,
                    content: '/teacherQuestion/toEditQuestion?questionid='+data.questionid,
                    maxmin: false,
                    title: '编辑题目'
                });
                layer.full(index);
            }  else if(obj.event === 'showDetail'){//查看题目
                var index = layer.open({
                    type: 2,
                    content: '/teacherQuestion/toShowQuestion?questionid='+data.questionid,
                    maxmin: false,
                    title: '查看题目'
                });
                layer.full(index);
            }else if (obj.event === 'toCaseAnswer'){//添加案例
                var index = layer.open({
                    type: 2,
                    content: '/teacherQuestion/toCaseAnswer?questionid='+data.questionid,
                    maxmin: false,
                    title: data.title + '-->添加案例'
                });
                layer.full(index);
            } else if (obj.event === 'del'){//删除题目
                var questionid = data.questionid;
            $.ajax({
                    url : "/teacher/course/question/getHomeworkUseQuestion?questionid="+data.questionid,
                    dataType: 'json',
                    method : 'post',
                    contentType : 'application/json; charset=UTF-8',
                    data : {},
                    traditional: true,  //阻止深度序列化，向后台传送数组
                    success : function(data){
                        var temp = "";
                        if (data.count > 0){
                            temp = "当前题目有"+ data.count +"条作业在使用：\n<table class=\"layui-table\">\n" +
                                "  <colgroup>\n" +
                                "    <col width=\"150\">\n" +
                                "    <col width=\"150\">\n" +
                                "  </colgroup>\n" +
                                "  <thead>\n" +
                                "    <tr>\n" +
                                "      <th>作业ID</th>\n" +
                                "      <th>作业名称</th>\n" +
                                "    </tr> \n" +
                                "  </thead><tbody>";
                            for(i = 0; i < data.count; i++){
                                temp = temp + "<tr>\n" +
                                    "      <td>"+ data.data[i].homeworkid +"</td>\n" +
                                    "      <td>"+ data.data[i].name +"</td>\n" +
                                    "    </tr>"
                            }
                            temp = temp + "</tbody>\n" +
                                "</table>\n确定删除吗？";
                        } else {
                            temp = temp + "当前题目没有作业在使用，确定删除吗？";
                        }
                        layer.confirm(temp, function(){
                            var index = layer.load();//load动画
                            $.ajax({
                                url : "/teacher/course/question/deleteQuestion?questionid="+questionid,
                                dataType: 'json',
                                method : 'post',
                                contentType : 'application/json; charset=UTF-8',
                                data : {},
                                traditional: true,  //阻止深度序列化，向后台传送数组
                                success : function(data){
                                    if (data.success) {
                                        layer.close(index);
                                        query();
                                        layer.msg('删除成功', {icon: 1});
                                    } else {
                                        layer.close(index);
                                        layer.msg("删除失败！code:"+data.code+",msg:"+data.msg,{icon: 2});
                                    }
                                },
                                error: function(){
                                    layer.close(index);
                                    layer.msg("删除失败！", {icon: 2});
                                }
                            });
                        });
                    },
                    error: function(){
                        layer.close(index);
                        layer.msg("删除失败！", {icon: 2});
                    }
                });
            }
        });
    }


    // 条件查询
    function queryCourse() {
        query();
    }

    // 重置查询
    function queryReset() {
        $('#title').val('');
        query();
    }


    // 新增题目
    function addNew(){
        var index = layer.open({
            type: 2,
            content: '/teacherQuestion/toAddQuestion',
            maxmin: false,
            title: '新增题目'
        });
        layer.full(index);
    }

</script>
