<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>USTC SSE OJ</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .demo-carousel{
            height: 400px;
            line-height: 400px;
            text-align: center;

        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">USTC SSE OJ</div>
        <ul class="layui-nav layui-layout-right" style="padding-right: 100px;">
            <li class="layui-nav-item">
                <a href="/user/login">
                    登录
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/register">注册</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-main">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div><p class="layui-bg-green demo-carousel">在这里，你将以最直观的形式体验SSEOJ！</p></div>
                <div><p class="layui-bg-red demo-carousel">在编辑器中可以执行相关的一切代码</p></div>
                <div><p class="layui-bg-blue demo-carousel">你也可以点击左侧导航针对性地试验我们提供的示例</p></div>
                <div><p class="layui-bg-orange demo-carousel">如果最左侧的导航的高度超出了你的屏幕</p></div>
                <div><p class="layui-bg-cyan demo-carousel">你可以将鼠标移入导航区域，然后滑动鼠标滚轮即可</p></div>
            </div>
        </div>
    </div>

    <!-- 底部固定区域 -->
    <!--  <div class="layui-footer">
        © layui.com - 底部固定区域
      </div>-->
</div>
<script src="/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'carousel'], function(){
        var element = layui.element, //元素操作
            carousel = layui.carousel ;//轮播

        //执行一个轮播实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,height: 400
            ,arrow: 'none' //不显示箭头
            ,anim: 'fade' //切换动画方式
        });
    });
</script>
</body>
</html>