<!--
 @author  Qianbw
 @create 2020-01-28
-->
<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" th:href="@{../static/lib/layui/css/layui.css}">
    <script th:src="@{../static/lib/layui/layui.js}"></script>
    <style type="text/css">
        body {background-image: url(../static/images/body_bg_page.jpg);
            background-repeat: repeat-x;
            background-position: center 0;
            background-color: #d7d7e3;
        }
        .loginByuser{
            opacity: .8;
            float: right;
            margin-right: 10px;
            font-size: 14px;
            color: #029789!important;
            line-height: 38px;
        }
        .layui-input {
            border-radius:25px;
        }
    </style>
</head>
<body>
<div class="layui-container" style="margin: 10% auto">
    <div class="layui-row layui-col-space10">
        <div style="" class="layui-col-md4 layui-col-md-offset4">
            <h1 style="text-align: center; margin-bottom: 15px;">USTC SSEOJ</h1>
            <form class="layui-form" action="" method="post">
                <!--记得根据不同的option访问不同的登陆或注册地址-->
                <div class="layui-form-item">
                    <input type="text" name="no" autocomplete="off" required lay-verify="no"  placeholder="请输入学号" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="text" name="name" autocomplete="off" required lay-verify="name"  placeholder="请输入姓名" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" id="password" required lay-verify="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="passwordConfim" id="passwordConfim" required lay-verify="passwordConfim" autocomplete="off" placeholder="请再次输入密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="radio" name="role" value="student" title="学生" checked>
                    <input type="radio" name="role" value="teacher" title="教师">
                    <input type="radio" name="role" value="manager" title="管理员">
                </div>
                <div class="layui-form-item">
                    <button type="submit" class="layui-btn layui-btn-radius layui-btn-fluid" lay-submit="" lay-filter="formDemo">注册</button>
                </div>
                <div class="layui-form-item">
                    <button type="reset" class="layui-btn layui-btn-radius layui-btn-primary layui-btn-fluid">重置</button>
                </div>
                <a href="/user/login" class="loginByuser">用已有帐号登入</a>
            </form>
        </div>
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use(['form', 'layedit', 'laydate', 'jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,$ = layui.jquery;

        //监听提交
        form.on('submit(formDemo)', function(data){
            var index = layer.load();//load动画
            // layer.msg(JSON.stringify(data.field));
            $.ajax({
                url : "/users/register",
                dataType: 'json',
                method : 'post',
                data : data.field,
                traditional: true,  //阻止深度序列化，向后台传送数组
                success : function(data){
                    if(data.success){
                        layer.close(index);
                        layer.msg('注册成功！',{
                            icon:1,
                            time: 1000
                        },function () {
                            window.location.href="/user/login";// 跳转到登录页面
                        });

                    } else {
                        layer.close(index);
                        layer.msg("登录失败！code:"+data.code+",msg:"+data.msg,{icon: 2});
                    }
                },
                error: function(){
                    layer.close(index);
                    layer.msg('登录失败',{icon: 2});
                }
            });
            return false;
        });

        // 表单验证
        form.verify({
            no: function(value) {
                if(value.length < 1) {
                    return '请填写学号';
                }
            },
            name:function(value) {
                if(value.length < 1) {
                    return '请输入姓名';
                }
            },
            password:function(value) {
                if(value.length < 1) {
                    return '请输入密码';
                }
            },
            passwordConfim:function(value) {
                if(value.length < 1) {
                    return '请再次输入密码';
                } else if ( $("#password").val() != $("#passwordConfim").val()) {
                    return '输入密码不一致';
                }
            }
        });
    });
</script>
</body>
</html>